/* 
.all-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border: 1px solid black;
    padding: 50px;
    margin: 0 auto;
    
}

.card{
    display: flex;
    width: 200px;
    height: 150px;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 10px;
    box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.4);

}

.card-header{
    display: flex;
    flex-direction: row;
    padding: 10px 5px;
}

.card-header .icon{
    font-size: 20px;
    padding-left: 10px;
}

.card:first-child{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    ;
}

.card:last-child{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

}

.card:nth-child(2){
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

}

.card:nth-child(3){
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

} */


.cards{
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.cards .card{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.number{
    font-size: 35px;
    font-weight: 500;
    color: #299B63;
}

.card-name{
    color: #888;
    font-weight: 600;
}

.icon-box .icon{
    font-size: 45px;
    color: #299B63;
}